<link rel="stylesheet" href="<%= assetPath('css/chats.css') %>" />

<div id="chat-flex">
  <div class="chat-flex-child" id="chat-room-name">
    <div class="chat-room-users">
      <h2>Chat Room</h2>
    </div>
    <div id="roomlist">
      <%for(friend of friends.friendship){%>
      <div
        class="chat-list"
        id="friend-<%=friend._id%>"
        data-friendId="<%=friend._id%>"
      >
        <div class="friend-wrapper">
          <div class="friend-avatar">
            <%if(friend.avatar){%>
            <img src="<%=friend.avatar%>" />
            <%}else{%>
            <img
              src="<%= assetPath('images/codeial-default-avatar2.png') %>"
              alt="image"
            />
            <%}%>
          </div>
          <div class="friend-name"><%=friend.name%></div>
        </div>
      </div>
      <%}%> <%if(friends.friendship.length===0){%>
      <div class="no-friend">
        <h2>You don't have any friends to show...</h2>
      </div>
      <%}%>
    </div>
  </div>

  <div class="chat-flex-child chat-room-display"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('javascript/chat_engine.js') %>"></script>
